body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.btn-flat {
  background-color: purple;
  color: white;
}
.btn-xxl {
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
}
