body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  color: #222222;
}

form div {
  margin: 1em;
  display: inline-block;
}

.btn-flat {
  background-color: #45d9e6;
  color: #ffffff;
}

.component-container {
  margin: 2em;
}

.selected-template {
  background-color: aliceblue;
}

.about {
  margin: 0 auto;
}
