body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  color: #222222;
}

form div {
  margin: 1em;
  display: inline-block;
}

.btn-flat {
  background-color: #45d9e6;
  color: #ffffff;
}

.sent-cards img {
  box-shadow: 0 0 8px gray;
}

.sent-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}

.sent-cards {
  padding: 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.component-container {
  margin: 2em;
}

.selected-template img {
  background-color: aliceblue;
  box-shadow: 0 0 10px blue;
  padding: 1px;
}

.template img {
  box-shadow: 0 0 8px gray;
  padding: 1px;
}

.about {
  margin: 0 auto;
}
